html,
body{
    min-height: 100vh;
    background-color: #212529;
}

.form-signin{
    max-width: 430px;
    padding: 2.5rem;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,.35);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.btn-primary{
    height:48px;
    font-weight:600;
}

#formulario,
#mensajeExito{
    transition: opacity .35s ease;
}